div.root {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
div.sidebar {
    flex: 20%;
    max-width: 20%;
    min-height: 100vh;
    border-right: 4px solid #72b440;
}
div.header {
    flex: 80%;
    max-width: 80%;
    padding: 10px 0 0 10px;
    background-color: #fafafa;
    min-height: 100vh;
}
